@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
.navbar{
    height:fit-content;
    background-color: rgb(16, 59, 124);
    color:white;
    padding:.5rem 0 .5rem 0;
    width:100%; 
    
}
.navbar-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size:30px
}
.dot{
    color:orange
}

@media (max-width: 500px) {
   .navbar{
    width:100%
   }
  }