@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*------------------RESET---------------*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #a0a0a01b;
  color:rgb(0, 0, 0);
  width:100%
}
.App{
  text-align: center;
  
}
@media (max-width: 400px) {
html{
  width:100%
}

}

